.recent {
  width: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
}

.list {
  display: flex;
}

.slide {
  width: auto !important;
}

.card {
  padding: 40px 20px;
  position: relative;
  width: 390px;
  display: block;
  height: 280px;
  &__inner {
    display: flex;
  }
  &__info {
    width: 155px;
  }
  &__img {
    height: auto;
    width: 155px;
    margin-right: 20px;
  }
  &__ship {
    background: var(--tealLight);
    color: var(--white);
    padding: 9px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    width: 155px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 20px;
  }
  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    margin-bottom: 20px;
  }
  &__desc {
    font-size: 12px;
    line-height: 15px;
  }
  &__rightBorder {
    height: calc(100% - 14px);
    background: var(--tealLight);
    width: 1px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
  }
  &__topBorder {
    height: 1px;
    background: var(--tealLight);
    width: calc(100% - 40px);
    position: absolute;
    top: 0;
    margin: 0 auto;
  }
  &__bottomBorder {
    height: 1px;
    background: var(--tealLight);
    width: calc(100% - 40px);
    margin: 0 auto;
    position: absolute;
    bottom: 0;
  }
}
