.apartment {
  padding-bottom: 150px;
}

.select {
  &__wrap {
    width: 340px;
    margin-bottom: 60px;
  }
}

.list {
  margin-bottom: 60px;
}

.card {
  width: 410px;
  padding: 30px 20px;
  position: relative;
  &__inner {
    cursor: pointer;
    &:hover {
      box-shadow: 0px 4px 20px rgba(10, 69, 103, 0.2);
    }
  }
  &__img {
    max-height: 270px;
    margin-bottom: 20px;
    position: relative;
  }
  &__info {
    padding: 0 25px;
    height: 145px;
  }
  &__ship {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.slide {
  width: auto !important;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
