.apartment {
  padding-bottom: 150px;
  @media screen and (max-width: 1920px) {
    padding-bottom: 7.8125vw;
  }
  .heading {
    @media screen and (max-width: 1920px) {
      margin-bottom: 3.125vw;
      p {
        font-size: 0.9375vw;
      }
    }
  }
  h2 {
    font-size: 40px;
    @media screen and (max-width: 1920px) {
      font-size: 2.0833333333333335vw;
      margin-bottom: 2.0833333333333335vw;
    }
  }
}
.pc_nav {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.mobile_nav {
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (max-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 20px;
    @media screen and (max-width: 425px) {
      display: none;
    }
  }
}
.select {
  &__wrap {
    width: 340px;
    margin-bottom: 60px;
    @media screen and (max-width: 1920px) {
      width: 17.708333333333332vw;
      margin-bottom: 3.125vw;
      span {
        font-size: 0.9375vw;
      }
    }
    @media screen and (max-width: 425px) {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}

.list {
  margin-bottom: 60px;
  @media screen and (max-width: 1920px) {
    margin-bottom: 3.125vw;
  }
}

.card {
  width: 410px;
  padding: 30px 20px;
  position: relative;
  @media screen and (max-width: 1920px) {
    width: 21.354166666666668vw;
    padding: 1.5625vw 1.0416666666666667vw;
  }
  &__inner {
    cursor: pointer;
    &:hover {
      box-shadow: 0px 4px 20px rgba(10, 69, 103, 0.2);
    }
  }
  &__img {
    max-height: 270px;
    margin-bottom: 20px;
    position: relative;
    @media screen and (max-width: 1920px) {
      max-height: 214.0625vw;
      margin-bottom: 1.0416666666666667vw;
    }
  }
  &__info {
    padding: 0 25px;
    @media screen and (max-width: 1920px) {
      padding: 0 1.3020833333333333vw;
    }
    h4 {
      font-size: 24px;
      @media screen and (max-width: 1920px) {
        font-size: 1.25vw;
        margin-bottom: 1.0416666666666667vw;
      }
    }
    p {
      font-size: 14px;
      @media screen and (max-width: 1920px) {
        font-size: 0.7291666666666666vw;
        padding-bottom: 1.0416666666666667vw;
      }
    }
  }
  &__ship {
    position: absolute;
    right: 0;
    top: 0;
    @media screen and (max-width: 1920px) {
      width: 10.416666666666666vw;
      height: 2.6041666666666665vw;
      font-size: 0.9375vw;
    }
  }
}

.slide {
  width: auto !important;
  .border__topBorder {
    width: calc(100% - 40px);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 425px) {
    display: block;
    text-align: center;
  }
}
.center_button {
  button {
    @media screen and (max-width: 1920px) {
      padding: 0.9895833333333334vw 2.0833333333333335vw;
      font-size: 0.9375vw;
      display: flex;
      line-height: 1;
    }
  }
  @media screen and (max-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    button {
      font-weight: 700;
      font-size: 13px;
      line-height: 16px;
      padding: 22px 85px;
      @media screen and (max-width: 425px) {
        border: 1px solid #ed6616;
        background: transparent !important;
        color: #242424;
        padding: 22px;
        width: 100%;
      }
    }
  }
}
