.green_icons svg path {
    fill: #008891;
}

.green_icons {
    gap: 24px;
}

.tab_btn button.yellow-btn.py10,
.tab_btn button.gray-btn.py10 {
    padding: 10px 32px;
}

.tab_btn button.yellow-btn.py10 {
    background: #C2D97A;
}

.fl1 {
    flex: 1;
}

.align-item-center {
    align-items: center;
}

.outline-btn-blue {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    background: #FFFFFF;
    border: 2px solid #74C6C9
}

.bold_text_ {
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
}

.heading_row .location_btn span {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    font-family: 'Jost', sans-serif;
}

.space-between {
    justify-content: space-between;
}

.space-between .like-btn {
    width: 40px;
    height: 40px;
    background: #ED6616;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.space-between .like-btn svg path {
    fill: #FFFFFF;
}

.orange-btn:not(.disabled) {
    background: linear-gradient(93.45deg, #ed6616 4.22%, #fe7a2c 91.85%) !important;
    color: #fff !important;
}

.text-area-div {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 90%;
}

.text-area-div .more {
    background: transparent;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    display: contents;
}

.map_container {
    position: relative;
}

.map_container iframe {
    width: 100%;
    height: 900px;
}

.card_in_map {
    background: #FFFFFF;
    position: relative;
    padding: 30px 30px;
    width: 360px;
}

.card_in_map.absolute {
    width: 300px;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 2;
}

.absolute {
    position: absolute;
}

.card_in_map .border__rightBorder {
    height: calc(100% - 60px);
}

.card_in_map:last-child .border__rightBorder {
    display: none;
}

.onhovered {
    transition: 300ms ease;
}

.onhovered:hover {
    box-shadow: 0px 4px 20px rgba(10, 69, 103, 0.2);
}

.card_in_map .border__topBorder,
.card_in_map .border__bottomBorder {
    width: calc(100% - 60px)
}

.card_in_map .img_relative {
    width: 100%;
    height: 250px;
    position: relative;
}

.card_in_map .img_relative .tab_btn.row.absolute {
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 100%;
}

.card_in_map .img_relative img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_in_map .img_relative .tab_btn.row button {
    padding: 10px 12.5px;
    justify-content: center;
    width: auto;
}

.card_in_map .img_relative .tab_btn.row button span {
    font-size: 17px;
}

.card_in_map .img_relative .tab_btn.row button.primary-btn {
    background: #74C6C9;
    flex: 1;
}

.card_text {
    padding: 20px;
}

.card_text .title_card__ {
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    color: #242424
}

.onhovered:hover .card_text button span,
.card_text button:hover span,
.orange_color {
    color: #ED6616;
}

.card_text button {
    width: 100%;
    padding: 19px 0px;
    color: #242424;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}



.card_text .desc_card {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #242424;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider_row_ {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider_row_ button.prev,
.slider_row_ button.next {
    border: 0;
    background: none;
}

.slider_row_ button.prev {
    margin-right: 40px;
}

.slider_row_ button.next svg,
.slider_row_ button.prev svg {
    width: 28px;
    height: 30px;
}

.slider_row_ button.prev svg {
    transform: rotate(180deg);
}

.slider_row_ button.next {
    margin-left: 40px;
}

.d-none {
    display: none;
}

@media screen and (max-width:1920px) {
    .text-area-div .more {
        font-size: 0.7291666666666666vw;
    }

    .space-between .like-btn {
        width: 2.0833333333333335vw;
        height: 2.0833333333333335vw;
        border-radius: 0.5208333333333334vw;
    }

    .residentials .space-between .like-btn svg {
        width: 1.3541666666666667vw;
        height: 1.25vw;
    }

    .residentials .green_icons {
        gap: 1.25vw;
    }

    .residentials .green_icons svg {
        width: 1.8229166666666667vw;
        height: 1.8229166666666667vw;
    }

    .mb50 {
        margin-bottom: 2.6041666666666665vw;
    }

    .bold_text_ {
        font-size: 0.9375vw;
    }

    .mt20 {
        margin-top: 1.0416666666666667vw;
    }

    .residentials .tab_header_ button {
        padding: 0.625vw 1.5625vw;
    }

    .outline-btn-blue {
        padding: 0.5208333333333334vw 1.5625vw;
    }

    .heading_row .location_btn span {
        font-size: 1.25vw;
    }

    button.md-mt40.md-m-btn.sm-full-btn.sm-outline-orange-btn {
        padding: 0.625vw 1.5625vw;
        font-size: 0.9375vw;
    }

    .residentials .title_result span {
        font-size: 2.0833333333333335vw;
    }

    .card_in_map.absolute {
        width: 15.625vw;
    }

    .map_container iframe {
        height: 46.875vw;
    }

    .card_in_map .img_relative {
        height: 13.020833333333334vw;
    }

    .card_in_map .img_relative .tab_btn.row button {
        padding: 0.5208333333333334vw 0.6510416666666666vw;
    }

    .card_in_map .img_relative .tab_btn.row button span {
        font-size: 0.8854166666666666vw;
    }

    .card_text {
        padding: 1.0416666666666667vw;
    }

    .card_text .title_card__ {
        font-size: 1.4583333333333333vw;
    }

    .mb15 {
        margin-bottom: 0.78125vw;
    }

    .mb20 {
        margin-bottom: 1.0416666666666667vw;
    }

    .card_text .desc_card {
        font-size: 0.625vw;
        line-height: 0.78125vw;
    }

    .card_text button {
        padding: 0.9895833333333334vw 0;
        font-size: 0.9375vw;
    }

    .card_in_map {
        width: 18.75vw;
        padding: 1.5625vw;
    }

    .mt30 {
        margin-top: 1.5625vw;
    }

    .mb10 {
        margin-bottom: 0.5208333333333334vw;
    }

    .card_in_map .border__rightBorder {
        height: calc(100% - 3.125vw);
    }

    .card_in_map .border__topBorder,
    .card_in_map .border__bottomBorder {
        width: calc(100% - 3.125vw);
    }

    .slider_row_ button.next svg,
    .slider_row_ button.prev svg {
        width: 1.4583333333333333vw;
        height: 1.5625vw;
    }

    .slider_row_ button.prev {
        margin-right: 2.0833333333333335vw;
    }

    .slider_row_ button.next {
        margin-left: 2.0833333333333335vw;
    }

    .py80 {
        padding-top: 4.166666666666667vw;
        padding-bottom: 4.166666666666667vw;
    }

    .mb80 {
        margin-bottom: 4.166666666666667vw;
    }

    .slider_row_.center-row-md button svg {
        width: 1.8229166666666667vw;
        height: 1.953125vw;
    }

    .slider_row_ button.prev {
        margin-right: 1.953125vw;
    }

    .slider_row_ button.next {
        margin-left: 1.953125vw;
    }
}



@media screen and (max-width:1024px) and (min-width:426px) {
    .residentials .title_result h2 {
        margin-top: 0;
        font-size: 4.166666666666667vw;
    }

    .residentials .grid_row {
        grid-template-columns: 100%;
    }

    .slider_row_.center-row-md button,
    .slider_row_.center-row-md {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5.208333333333333vw;
    }

    .slider_row_.center-row-md button {
        width: 7.161458333333333vw;
        height: 7.161458333333333vw;
        border: 1px solid #74C6C9;
        border-radius: 50%;
    }

    .residentials .scroll_items {
        display: none;
    }

    .residentials .mySwiper.d-none {
        display: block;
        width: 100%;
        margin: 3.90625vw 0;
    }

    .residentials .slider_container button {
        width: 5.729166666666667vw;
        height: 5.729166666666667vw;
        border-radius: 50%;
        margin: 0 1.4322916666666667vw;
    }

    .residentials .slider_container {
        height: 39.0625vw;
    }

    .residentials .slider_container button svg {
        width: 1.5625vw;
        height: 1.5625vw;
    }

    .residentials .mySwiper.d-none .slide-item__ img,
    .residentials .mySwiper.d-none .slide-item__ {
        width: 26.041666666666668vw;
        height: 14.322916666666666vw;
    }

    .residentials .title_result h2 span {
        font-size: 4.166666666666667vw;
    }

    .space-between .like-btn,
    .residentials .green_icons svg {
        width: 3.90625vw;
        height: 3.90625vw;
    }

    .md-align-center {
        align-items: center;
    }

    .md-mt-40 {
        margin: 5.208333333333333vw 0;
    }

    .residentials .space-between .like-btn svg {
        width: 2.34375vw;
        height: 2.0833333333333335vw;
    }

    .space-between .like-btn {
        border-radius: 1.0416666666666667vw;
    }

    .outline-btn-blue {
        font-size: 1.8229166666666667vw;
        padding: 1.4322916666666667vw 3.3854166666666665vw;
    }

    .mt20 {
        margin-top: 2.6041666666666665vw;
    }

    .my20 {
        margin-top: 2.6041666666666665vw;
        margin-bottom: 2.6041666666666665vw;
    }

    .mb15 {
        margin-bottom: 1.953125vw;
    }

    .residentials .text_paragraph {
        font-size: 1.8229166666666667vw;
    }

    .heading_row .location_btn span {
        font-size: 2.0833333333333335vw;
        color: #FF596D;
    }

    .bold_text_ {
        font-size: 1.8229166666666667vw;
    }

    button.md-mt40.md-m-btn.sm-full-btn.sm-outline-orange-btn {
        padding: 2.2135416666666665vw 7.486979166666667vw;
        font-size: 1.6927083333333333vw;
        line-height: 120%;
        margin-top: 6.510416666666667vw;
    }

    .md-col {
        flex-direction: column;
    }

    .md-f-start {
        align-items: flex-start;
    }

    .residentials .icon_box:nth-child(3n + 3),
    .residentials .icon_box:last-child {
        margin-right: 0;
    }

    .residentials .icon_box {
        text-align: center;
        align-items: center;
    }

    .residentials .wrap_ {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .text-area-div .more {
        font-size: 1.8229166666666667vw;
    }

    .card_in_map .img_relative {
        height: 32.552083333333336vw;
    }

    .card_in_map.absolute {
        width: 39.0625vw;
    }

    .map_container iframe {
        height: 89.58333333333333vw;
        width: 100vw;
        margin-left: -40px;
    }

    .card_in_map .img_relative .tab_btn.row button {
        padding: 1.4322916666666667vw 2.2135416666666665vw;
    }

    .card_in_map .img_relative .tab_btn.row button span {
        font-size: 1.8229166666666667vw;
    }

    .card_text {
        padding: 2.6041666666666665vw;
    }

    .card_text .title_card__ {
        font-size: 3.125vw;
    }

    .mb20 {
        margin-bottom: 2.6041666666666665vw;
    }

    .card_text .desc_card {
        font-size: 1.5625vw;
        line-height: 1.953125vw;
    }

    .mb15 {
        margin-bottom: 1.953125vw;
    }

    .card_text button {
        padding: 2.8645833333333335vw 0;
        font-size: 1.6927083333333333vw;
    }

    .card_in_map {
        width: 44.661458333333336vw;
        padding: 2.9947916666666665vw;
    }

    .slider_row_ {
        display: block;
    }

    .prev.is_pc,
    .next.is_pc {
        display: none;
    }

    .py80 {
        padding-top: 10.416666666666666vw;
        padding-bottom: 10.416666666666666vw;
    }

    .residentials .tab_header_.sm-d-flex-col {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-left: 1px;
        margin-bottom: 5.208333333333333vw;
    }

    .residentials .tab_header_ button {
        padding: 2.1484375vw 6.510416666666667vw;
        margin-top: -1px;
        margin-left: -1px;
    }

    .residentials .tab_header_ button span {
        font-size: 1.8229166666666667vw;
    }

    .residentials .title_result {
        text-align: center;
    }

    .residentials .title_result span {
        font-size: 4.166666666666667vw;
    }
}

@media screen and (max-width:425px) {
    .slider_container {
        position: relative;
        width: 100vw;
        height: 100%;
        margin-left: -5.555555555555555vw;
        padding: 2.7777777777777777vw;
    }

    .md-col {
        flex-direction: column;
    }

    .md-f-start {
        align-items: flex-start;
    }

    .map_container .card_in_map.absolute {
        display: none;
    }

    .residentials .slider_container {
        height: auto;
    }

    .sm-d-flex-col {
        flex-direction: column;
    }

    .sm-align-center {
        align-items: center;
    }

    .sm-mt-30 {
        margin-top: 8.333333333333334vw;
    }

    .residentials .title_result {
        width: unset;
    }

    .residentials .title_result h2 span {
        font-size: 7.222222222222222vw;
    }

    .residentials .space-between .like-btn,
    .residentials .green_icons svg {
        width: 8.333333333333334vw;
        height: 8.333333333333334vw;
    }

    .residentials .space-between .like-btn {
        border-radius: 2.2222222222222223vw;
    }

    .residentials .space-between .like-btn svg {
        width: 3.611111111111111vw;
        height: 3.611111111111111vw;
    }

    .residentials .green_icons {
        gap: 5.555555555555555vw;
    }

    .mt20 {
        margin-top: 5.555555555555555vw;
    }

    .md-mt-40 {
        margin-bottom: 11.11111111111111vw;
    }

    .map_container iframe {
        margin-left: -20px;
        width: 100vw;
        height: 100vw;
    }

    .onhovered:hover {
        box-shadow: none
    }

    .is_pc {
        display: none;
    }

    .sm-px-0 {
        padding-left: 0;
        padding-right: 0;
    }

    .sm-mx-10 {
        margin-left: 2.7777777777777777vw;
        margin-right: 2.7777777777777777vw;
    }

    .sm-mx-5 {
        margin: 0 1.3888888888888888vw;
    }

    .wrap_ .icon_box {
        width: 41.666666666666664vw;
        flex-direction: column;
    }

    .sm-text-left {
        text-align: left;
        align-items: flex-start;
    }

    .text-area-div .more.md-d-block.sm-d-none,
    .sm-d-none {
        display: none;
    }

    .sm-d-block {
        display: block;
    }

    span.sm-fs-22,
    .sm-fs-22 {
        font-size: 6.111111111111111vw;
    }

    .sm-custome-width-title {
        width: 80%;
        margin: 0 auto;
    }

    .sm-size-360 {
        width: 100%;
        height: 100vw;
    }

    .card_in_map {
        width: 88.88888888888889vw;
        padding: 6.944444444444445vw 0px;
    }

    .card_in_map .img_relative {
        height: 69.44444444444444vw;
    }

    .card_in_map .border__rightBorder {
        display: none;
    }

    .card_in_map .border__topBorder,
    .card_in_map .border__bottomBorder {
        width: 100%;
    }

    .card_in_map .img_relative .tab_btn.row button {
        padding: 3.4722222222222223vw 5.833333333333333vw;
    }

    .card_in_map .img_relative .tab_btn.row button span {
        font-size: 3.3333333333333335vw;
    }

    .card_text .title_card__ {
        font-size: 6.111111111111111vw;
    }

    .mb20 {
        margin-bottom: 5.555555555555555vw;
    }

    .mb15 {
        margin-bottom: 4.166666666666667vw;
    }

    .card_text .desc_card {
        font-size: 4.166666666666667vw;
        line-height: 140%;
    }

    .sm-text-center {
        text-align: center;
    }

    button.relative-btn-border,
    .relative-btn-border {
        position: relative;
        border: 1px solid #74C6C9;
        margin: 0 4.166666666666667vw;
        margin-bottom: 11.11111111111111vw;
        transform: none
    }

    .card_text button {
        padding: 4.166666666666667vw;
    }

    .card_text button span {
        font-size: 3.3333333333333335vw;
    }

    .relative-btn-border.prev svg {
        transform: rotate(180deg);
    }

    .sm-align-center {
        align-items: center;
    }

    .sm-mt-30 {
        margin-top: 8.333333333333334vw;
    }


    .inner_btn.text_trans_none.sm-fs-14,
    .sm-fs-14 {
        font-size: 3.888888888888889vw;
    }

    .residentials .md-flex-wrap.row_result button {
        margin-bottom: 1.3888888888888888vw;
        padding: 4.583333333333333vw;
    }

    .row_container .space.sm-full {
        width: 100vw;
        margin-left: -5.555555555555555vw;
    }

    button.like-btn.sm-size-30,
    .sm-size-30 {
        width: 8.333333333333334vw;
        height: 8.333333333333334vw;
    }

    .title_result h2.sm-mt-0,
    .sm-mt-0 {
        margin-top: 0;
    }

    h2 span.sm-fs-22,
    .sm-fs-22 {
        font-size: 6.111111111111111vw;
    }

    .heading_row .mini-orange.sm-ml-0,
    .sm-ml-0 {
        margin-left: 0;
    }

    .sm-my-20 {
        margin-top: 5.555555555555555vw;
        margin-bottom: 5.555555555555555vw;
    }

    .sm-order-1 {
        order: -1;
    }

    .sm-py-40 {
        padding-top: 11.11111111111111vw;
        padding-bottom: 11.11111111111111vw;
    }

    .sm-size-13 {
        width: 3.611111111111111vw;
        height: 3.611111111111111vw;
    }

    .green_icons {
        gap: 3.611111111111111vw;
    }

    .sm-w-50 {
        width: 50%;
    }

    .sm-full-btn {
        width: 100%;
    }

    .heading_row .location_btn span {
        font-size: 3.888888888888889vw;
        line-height: 100%;
        color: #FF596D;
    }

    .residentials .charact_container .tab_btn button.yellow-btn.py10,
    .residentials .charact_container .tab_btn button.gray-btn.py10 {
        height: 11.666666666666666vw;
        width: 50%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .residentials button.sm-full-btn.sm-outline-orange-btn.md-mt40,
    .residentials button.sm-outline-orange-btn.md-mt40 {
        align-items: center;
        padding: 2.7777777777777777vw 11.944444444444445vw;
        border: 1px solid #ED6616;
        background: transparent;
        margin-top: 5.555555555555555vw;
    }

    .sm-full-btn.sm-outline-orange-btn:hover,
    .sm-outline-orange-btn:hover {
        background: #ED6616;
    }

    .bold_text_ {
        font-size: 3.888888888888889vw;
    }

    .residentials .text_paragraph {
        font-size: 3.3333333333333335vw;
    }

    .residentials .heading_row .location_btn {
        width: 6.944444444444445vw;
        height: 6.944444444444445vw;
        border-radius: 2.2222222222222223vw
    }

    .residentials .heading_row .location_btn svg {
        width: 2.7777777777777777vw;
        height: 2.7777777777777777vw;
    }

    .my20 {
        margin-top: 5.555555555555555vw;
        margin-bottom: 5.555555555555555vw;
    }

    .outline-btn-blue {
        padding: 0;
        height: 11.11111111111111vw;
        width: 100%;
    }

    .sm-outline-orange-btn span {
        color: #242424;
        font-size: 3.3333333333333335vw;
    }

    .residentials button.sm-full-btn.sm-outline-orange-btn.md-mt40:hover,
    .residentials button.sm-outline-orange-btn.md-mt40:hover {
        background: #ED6616;
    }

    .sm-full-btn.sm-outline-orange-btn:hover span,
    .sm-outline-orange-btn:hover span {
        color: #FFF;
    }

    .residentials .wrap_ .icon_box,
    .residentials .icons_bottom {
        justify-content: center;
        align-items: center;
        text-align: center;
    }



    .py80 {
        padding-top: 22.22222222222222vw;
        padding-bottom: 22.22222222222222vw;
    }

    .residentials .slider_row_ {
        padding: 11.11111111111111vw 0;
        margin-bottom: 0;
        padding-bottom: 0;
        display: block;
    }

    .slider_row_.center-row-md button,
    .slider_row_.center-row-md {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .slider_row_.center-row-md button {
        width: 15.277777777777779vw;
        height: 15.277777777777779vw;
        border: 1px solid #74C6C9;
        border-radius: 50%;
    }

    .slider_row_.center-row-md button svg {
        width: 3.888888888888889vw;
        height: 4.166666666666667vw;
    }

    .slider_row_ button.prev {
        margin-right: 4.166666666666667vw;
    }

    .slider_row_ button.next {
        margin-left: 4.166666666666667vw;
    }

    .residentials .title_result span {
        font-size: 6.111111111111111vw;
    }

    .residentials .title_result {
        text-align: center;
        padding: 0 3.6458333333333335vw;
    }

    .mb50 {
        margin-bottom: 6.510416666666667vw;
    }

    .residentials .charact_container {
        margin-bottom: 10.416666666666666vw;
    }

    .residentials .tab_header_.sm-d-flex-col {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-left: 1px;
        margin-bottom: 5.208333333333333vw;
    }

    .residentials .tab_header_ button {
        padding: 2.1484375vw 6.510416666666667vw;
        margin-top: -1px;
        margin-left: -1px;
    }

    .residentials .tab_header_ button span {
        font-size: 1.8229166666666667vw;
    }
}

.underline {
    text-decoration: underline;
}