.fox_container {
  width: 100%;
  background: #02979d;
  padding: 100px 40px;
  position: relative;
  @media screen and (max-width: 1024px) {
    flex-direction: row-reverse;
    padding: 160px 40px 160px 40px;
  }
  @media screen and (max-width: 767px) {
    padding: 80px 0px;
  }
  &_svg {
    position: absolute;
    top: 20px;
    right: 157px;
    button {
      background: transparent;
      cursor: pointer;
    }
    @media screen and (max-width: 1024px) {
      right: 40px;
    }
    @media screen and (max-width: 767px) {
      top: 10px;
      right: 10px;
    }
  }
  &_flex {
    display: flex;
    align-items: center;
    gap: 58px;
    justify-content: center;
    @media screen and (max-width: 1024px) {
      flex-direction: row-reverse;
    }
    @media screen and (max-width: 767px) {
      flex-direction: column-reverse;
    }
  }
  &_image {
    @media screen and (max-width: 1024px) {
      width: 60%;
    }
    @media screen and (max-width: 768px) {
      width: 50%;
    }
    @media screen and (max-width: 767px) {
      width: 100%;
      justify-content: center;
      display: flex;
      align-items: center;
    }
  }
  &_title {
    h1 {
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 140%;
      color: #ffffff;
      margin-bottom: 30px;
      @media screen and (max-width: 1023px) {
        font-size: 30px;
      }
      @media screen and (max-width: 767px) {
        font-size: 26px;
        text-align: center;
        margin-bottom: 20px;
      }
    }
    h3 {
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 140%;
      color: #ffffff;
      margin-bottom: 30px;
      @media screen and (max-width: 1023px) {
        font-size: 20px;
      }
      @media screen and (max-width: 767px) {
        font-size: 16px;
        text-align: center;
        margin-bottom: 20px;
      }
      span {
        color: #ed6616;
        @media screen and (max-width: 767px) {
          font-size: 12px;
        }
      }
    }
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: #ffffff;
      margin-bottom: 30px;
      @media screen and (max-width: 767px) {
        font-size: 14px;
        text-align: center;
        margin-bottom: 20px;
      }
    }
    @media screen and (max-width: 768px) {
      width: 80%;
      @media screen and (max-width: 767px) {
        width: 100%;
        padding: 0px 20px;
      }
    }
    div {
      display: flex;
      gap: 20px;
      align-items: center;
      @media screen and (max-width: 1024px) {
        flex-direction: column;
        align-items: flex-start;
      }
      @media screen and (max-width: 767px) {
        justify-content: center;
        gap: 0;
      }
      a {
        display: contents;
        width: 100%;
        button {
          background: linear-gradient(93.45deg, #ed6616 4.22%, #fe7a2c 91.85%);
          @media screen and (max-width: 1024px) {
            width: 100%;
          }
          @media screen and (max-width: 768px) {
            width: 100%;
          }
          @media screen and (max-width: 767px) {
            padding: 22px 0px;
            margin-bottom: 20px;
          }
        }
      }

      button {
        width: max-content;
        padding: 19px 40px;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        color: #ffffff;
        background: transparent;
        border: 1px solid #ed6616;
        transition: 0.3s ease;
        cursor: pointer;

        @media screen and (max-width: 1024px) {
          width: 100%;
          padding: 22px 0;
        }

        @media screen and (max-width: 768px) {
          width: 100%;
        }
        @media screen and (max-width: 767px) {
          padding: 22px 0px;
          margin-bottom: 20px;
          font-size: 12px;
        }
      }
    }
  }
}
