.selectList {
  list-style: none;
  position: absolute;
  right: 0;
  left: 0;
  top: 100%;
  z-index: 999;
  overflow: hidden;
  box-sizing: border-box;
  padding: 13px 0;
  background: #ffffff;
  box-shadow: 0px 4px 20px 1px rgba(70, 119, 182, 0.2);
  @media screen and (max-width: 1920px) {
    padding: 0.6770833333333334vw 0;
  }
}

.listItem {
  transition: 0.3s;
  padding: 7px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  &:focus,
  &:hover {
    background: #f0f4f8;
    border-radius: 0px 0px 4px 4px;
  }
  @media screen and (max-width: 1920px) {
    padding: 0.3645833333333333vw 1.0416666666666667vw;
    @media screen and (max-width: 1024px) {
      padding: 2.4739583333vw;
    }
  }
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #7d8790;
  @media screen and (max-width: 1920px) {
    font-size: 0.8333333333333334vw;
    @media screen and (max-width: 1024px) {
      font-size: 1.8229166667vw;
      @media screen and (max-width: 425px) {
        font-size: 3.3333333333333335vw;
      }
    }
  }
}

.dropDownContainer {
  margin-bottom: 30px;
  position: relative;
  cursor: pointer;
  width: 100%;
  @media screen and (max-width: 1920px) {
    margin-bottom: 1.5625vw;
    @media screen and (max-width: 1024px) {
      margin-bottom: 2.6041666666666665vw;
    }
  }
}

.dropDownHeader {
  position: relative;
  padding: 5px 12px;
  width: 100%;
  height: 45px;
  transition: 200ms ease-in-out;
  border: 1px solid #74c6c9;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: var(--dark);
  box-sizing: border-box;
  @media screen and (max-width: 1920px) {
    font-size: 0.9375vw;
    height: 2.34375vw;
    padding: 0.2604166666666667vw 0.625vw;
    @media screen and (max-width: 1024px) {
      padding: 1.8229166666666667vw 2.6041666666666665vw;
      font-size: 1.953125vw;
      height: 6.510416666666667vw;
      @media screen and (max-width: 425px) {
        padding: 4.166666666666667vw 5.555555555555555vw;
        height: 13.88888888888889vw;
        font-size: 3.888888888888889vw;
      }
    }
  }
  @media (max-width: 992px) {
    transition: none;
  }
  &:focus,
  &:focus-visible {
    outline: none;
    border-color: #8a2be2;
    @media (max-width: 992px) {
      outline: none;
      border-color: transparent;
    }
    span {
      &::before {
        color: #caa5ec;
        @media (max-width: 992px) {
          color: #263238;
        }
      }
    }
  }
}

.dropDownHeaderContent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-right: 48px;
  @media screen and (max-width: 1920px) {
    padding-right: 2.5vw;
  }
  span {
    margin-top: 5px;
    @media screen and (max-width: 1920px) {
      margin-top: 0.2604166666666667vw;
    }
  }
}

.arrow {
  width: 24px;
  height: 24px;
  margin-right: 3px;
  transition: 0.3s;
  transform: translateY(-50%) rotate(0);
  margin-left: auto;
  position: absolute;
  right: 20px;
  top: 50%;
  display: block;
  transform-origin: center;
  &.active {
    transform: translateY(-50%) rotate(-180deg);
  }
  svg {
    width: 100%;
    height: 100%;
  }
  @media screen and (max-width: 1920px) {
    width: 1.25vw;
    height: 1.25vw;
    margin-right: 0.15625vw;
    right: 1.0416666666666667vw;
    @media screen and (max-width: 1024px) {
      width: 1.8229166666666667vw;
      height: 1.8229166666666667vw;
      margin-right: 2.6041666666666665vw;
      @media screen and (max-width: 425px) {
        height: 3.888888888888889vw;
        width: 3.888888888888889vw;
        margin-right: 5.555555555555555vw;
      }
    }
  }
}
