.list {
  list-style: none;
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
  }

  &__item {
    margin: 0 10px;
    &:last-child {
      margin-right: 0;
    }
    &:first-child {
      margin-left: 0;
    }
    @media screen and (max-width: 767px) {
      margin: 0 3px;
    }
  }

  &__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #242424;
    text-decoration: none;
    transition: 0.3s;
    opacity: 0.55;

    @media screen and (max-width: 767px) {
      font-size: 13px;
    }

    &:hover {
      color: var(--tomato);
      opacity: 1;
    }
  }
}
