.list {
  list-style: none;
  display: flex;
  align-items: center;

  &__item {
    margin: 0 10px;
    &:last-child {
      margin-right: 0;
    }
    &:first-child {
      margin-left: 0;
    }
  }

  &__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #242424;
    text-decoration: none;
    transition: 0.3s;
    opacity: 0.55;

    &:hover {
      color: var(--tomato);
      opacity: 1;
    }
  }
}
