.header {
  width: 100%;
  background-color: var(--teal);
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  &__top {
    padding-top: 21px;
    padding-bottom: 27px;
    display: flex;
    align-items: center;
    @media screen and (max-width: 1920px) {
      padding-top: 1.09375vw;
      padding-bottom: 1.40625vw;
      @media screen and (max-width: 1024px) {
        padding-top: 4.166666666666667vw;
        padding-bottom: 3.90625vw;
        justify-content: space-between;
        background: #008891;
        z-index: 6;
        position: relative;
        @media screen and (max-width: 425px) {
          padding-top: 6.944444444444445vw;
          padding-bottom: 5vw;
        }
      }
    }
  }
  &__bottom {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 1920px) {
      padding-top: 1.0416666666666667vw;
      padding-bottom: 1.0416666666666667vw;
      @media screen and (max-width: 425px) {
        padding: 0;
      }
    }
  }
}
.mobil_location {
  display: none;
  @media screen and (max-width: 1024px) {
    display: flex;
    align-items: center;
    div {
      font-size: 2.0833333333333335vw;
      margin-left: 1.953125vw;
      margin-bottom: 0;
    }
    svg {
      width: 1.6927083333333333vw;
      height: 1.6927083333333333vw;
    }
    @media screen and (max-width: 425px) {
      display: none;
    }
  }
}
.logo {
  align-self: flex-end;
  position: relative;
  z-index: 7;
  @media screen and (max-width: 1024px) {
    display: flex;
    align-items: center;
  }
  .menu {
    display: none;
    transition: 300ms ease;
    @media screen and (max-width: 1024px) {
      display: inline-flex;
      width: 4.166666666666667vw;
      height: 4.166666666666667vw;
      background: transparent;
      margin-right: 2.9947916666666665vw;

      svg {
        width: 100%;
        height: 100%;
      }
      @media screen and (max-width: 425px) {
        width: 6.666666666666667vw;
        height: 6.666666666666667vw;
      }
    }
  }
  svg {
    width: 207px;
    flex: none;
    height: auto;
    display: block;
    @media screen and (max-width: 1920px) {
      width: 10.78125vw;
      @media screen and (max-width: 1024px) {
        width: 20.442708333333332vw;
        @media screen and (max-width: 425px) {
          width: 30.555555555555557vw;
        }
      }
    }
  }
}

.hr {
  height: 1px;
  border: 0;
  background-color: #1baeb7;
  @media screen and (max-width: 1920px) {
    height: 0.052083333333333336vw;
    @media screen and (max-width: 425px) {
      display: none;
    }
  }
}

.city {
  margin-right: 86px;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  display: flex;
  align-items: flex-end;
  color: var(--white);
  margin-left: auto;
  @media screen and (max-width: 1920px) {
    margin-right: 4.479166666666667vw;
    font-size: 0.9375vw;
    @media screen and (max-width: 1024px) {
      display: none;
      @media screen and (max-width: 425px) {
        display: inline-flex;
        font-size: 3.611111111111111vw;
        align-items: center;
      }
    }
  }
  svg {
    display: none;
    @media screen and (max-width: 425px) {
      display: inline-flex;
      width: 2.7777777777777777vw;
      height: 2.7777777777777777vw;
      margin-right: 2.2222222222222223vw;
    }
  }
}

.add {
  margin-right: 50px;
  width: 320px;
  height: 52px;
  padding: 12px 30px;
  position: relative;
  line-height: 1;
  z-index: 7;
  @media screen and (max-width: 1920px) {
    margin-right: 2.6041666666666665vw;
    width: 16.666666666666668vw;
    height: 2.7083333333333335vw;
    padding: 0.625vw 1.5625vw;
    font-size: 0.9375vw;
    @media screen and (max-width: 1024px) {
      width: 27.734375vw;
      height: 5.729166666666667vw;
      font-size: 1.4322916666666667vw;
      margin-right: 2.6041666666666665vw;
      @media screen and (max-width: 425px) {
        display: none;
      }
    }
  }
}
.add_ {
  display: none;
  @media screen and (max-width: 425px) {
    display: flex;
    font-size: 3.3333333333333335vw;
    justify-content: center;
    align-items: center;
    padding: 4.722222222222222vw 10.833333333333334vw;
    margin-top: 6.944444444444445vw;
  }
}

.user_mobile_btn {
  display: none;
  @media screen and (max-width: 425px) {
    display: flex;
  }
}

.lk {
  width: 245px;
  height: 52px;
  padding: 12px 30px;
  position: relative;
  z-index: 7;
  line-height: 1;
  @media screen and (max-width: 1920px) {
    width: 12.760416666666666vw;
    height: 2.7083333333333335vw;
    padding: 0.625vw 1.5625vw;
    font-size: 0.9375vw;
    @media screen and (max-width: 1024px) {
      width: 27.734375vw;
      height: 5.729166666666667vw;
      font-size: 1.4322916666666667vw;
      @media screen and (max-width: 425px) {
        display: none;
      }
    }
  }
}

.list {
  list-style: none;
  display: flex;
  @media screen and (max-width: 1024px) {
    display: none;
  }
  &__item {
    margin-right: 50px;
    @media screen and (max-width: 1920px) {
      margin-right: 2.6041666666666665vw;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--white);
    text-decoration: none;
    transition: 0.3s;
    @media screen and (max-width: 1920px) {
      font-size: 0.9375vw;
      line-height: 1.1458333333333333vw;
      @media screen and (max-width: 1024px) {
        font-size: 1.8229166666666667vw;
        line-height: 2.2135416666666665vw;
        margin-bottom: 3.2552083333333335vw;
        display: inline-flex;
        @media screen and (max-width: 425px) {
          font-size: 3.888888888888889vw;
          line-height: 4.722222222222222vw;
          margin-bottom: 6.944444444444445vw;
        }
      }
    }
    &:hover {
      color: var(--tomato);
    }
  }
}

.active_link {
  path {
    stroke: var(--tomato);
    fill: var(--tomato);
  }
  rect {
    stroke: var(--tomato);
  }
}

.bar {
  display: flex;
  list-style: none;
  margin-left: auto;

  &__item {
    margin-right: 24px;
    @media screen and (max-width: 1920px) {
      margin-right: 1.25vw;
      @media screen and (max-width: 1024px) {
        margin-right: 2.6041666666666665vw;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    svg {
      @media screen and (max-width: 1920px) {
        width: 1.875vw;
        height: 1.875vw;
        @media screen and (max-width: 1024px) {
          width: 3.7760416666666665vw;
          height: 3.7760416666666665vw;
          @media screen and (max-width: 425px) {
            width: 8.055555555555555vw;
            height: 8.055555555555555vw;
          }
        }
      }
    }
    path,
    rect {
      transition: 0.3s ease;
    }
    path {
      stroke: transparent;
    }
    &:hover {
      path {
        stroke: var(--tomato);
        fill: var(--tomato);
      }
      rect {
        stroke: var(--tomato);
      }
    }
  }
  @media screen and (max-width: 425px) {
    position: fixed;
    width: 100vw;
    bottom: 0;
    left: 0;
    background-color: var(--teal);
    padding: 2.7777777777777777vw 5.555555555555555vw;
    justify-content: space-between;
    z-index: 5;
  }
}
.list_mobile {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(-100%);
  transition: 300ms ease;
  overflow-y: auto;
  background-color: var(--teal);
  @media screen and (max-width: 1024px) {
    display: flex;
    padding: 11.8125vw;
    padding-top: 14.328125vw;
    @media screen and (max-width: 425px) {
      padding-top: 25.833333333333332vw;
    }
  }
}
