.header {
  width: 100%;
  background-color: var(--teal);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  &__top {
    padding-top: 21px;
    padding-bottom: 27px;
    display: flex;
    align-items: center;
  }
  &__bottom {
    padding-top: 21px;
    padding-bottom: 23px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  align-self: flex-end;
  svg {
    width: 207px;
    flex: none;
    height: auto;
    display: block;
  }
}

.hr {
  height: 1px;
  background-color: #fff;
}

.city {
  margin-right: 86px;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: var(--white);
  margin-left: auto;
}

.add {
  margin-right: 50px;
  width: 320px;
  height: 52px;
  padding: 12px 30px;
}

.lk {
  width: 245px;
  height: 52px;
  padding: 12px 30px;
}

.list {
  list-style: none;
  display: flex;
  &__item {
    margin-right: 50px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: var(--white);
    text-decoration: none;
    transition: 0.3s;
    &:hover {
      color: var(--tomato);
    }
  }
}

.bar {
  display: flex;
  list-style: none;
  margin-left: auto;

  &__item {
    margin-right: 24px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    path,
    rect {
      transition: 0.3s ease;
    }
    &:hover {
      path {
        stroke: var(--tomato);
        fill: var(--tomato);
      }
      rect {
        stroke: var(--tomato);
      }
    }
  }
}
