.apartment {
  padding-bottom: 150px;
  @media screen and (max-width: 1920px) {
    padding-bottom: 7.8125vw;
  }
  h2 {
    font-size: 40px;
    @media screen and (max-width: 1920px) {
      font-size: 2.0833333333333335vw;
    }
  }
}

.links {
  max-width: 74%;
  width: 100%;
  @media screen and (max-width: 1024px) {
    max-width: 100%;
  }
}
.link_hover {
  &:hover {
    .box {
      transform: scale(1);
      opacity: 1;
    }
  }
}
.link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 30px;
  @media screen and (max-width: 1920px) {
    padding: 2.0833333333333335vw 1.5625vw;
  }
  &__text {
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    opacity: 0.77;
    transition: 0.3s;
    @media screen and (max-width: 1920px) {
      font-size: 1.4583333333333333vw;
    }
  }
  &__icon {
    transition: 0.3s;
    width: 21px;
    height: 21px;
    @media screen and (max-width: 1920px) {
      width: 1.09375vw;
      height: 1.09375vw;
    }
    @media screen and (max-width: 768px) {
      path {
        stroke: #008891;
      }
    }
  }
  &:hover .link__icon {
    transform: rotate(-45deg);
    path {
      fill: var(--dark);
      stroke: var(--dark);
    }
  }
  &:hover .link__text {
    opacity: 1;
  }
}

.accord {
  border-bottom: 1px solid #909090;
  &:first-child {
    border-top: 1px solid #909090;
    @media screen and (max-width: 768px) {
      border-color: #78d5d9;
    }
  }
  &__item {
    display: none;
  }
  &:hover {
    border: 0;
    .link {
      display: none;
    }
    .accord__item {
      display: flex;
    }
  }
  @media screen and (max-width: 768px) {
    border-color: #78d5d9;
  }
}

.box {
  padding: 20px 30px;
  display: flex;
  position: relative;
  width: 100%;
  @media screen and (max-width: 1920px) {
    padding: 1.0416666666666667vw 1.5625vw;
  }
  @media screen and (max-width: 425px) {
    flex-direction: column;
  }
  filter: drop-shadow(0px 4px 20px rgba(10, 69, 103, 0.2));
  margin-bottom: 40px;
  .hImage {
    position: absolute;
    right: -390px;
    top: 0;
    transform: scale(0);
    transition: transform var(--transition);

    @media screen and (max-width: 1920px) {
      right: -20.3125vw;
    }
    @media screen and (max-width: 1024px) {
      display: none;
    }
  }
  &:hover .hImage {
    transform: scale(1);
  }
  &:last-child {
    margin-bottom: 0;
  }
  &--green {
    background: #bef2d4;
  }
  &--pink {
    background: #ffdecb;
  }
  &--blue {
    background: #cfe8fd;
  }
  &--yellow {
    background: #ffeabc;
  }
  &--violet {
    background: #eec9fa;
  }
  &--purple {
    background: #e9eff2;
  }
  &__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    padding-right: 20px;
    color: #242424;
    @media screen and (max-width: 1920px) {
      font-size: 1.4583333333333333vw;
      padding-right: 1.0416666666666667vw;
    }
  }
  &__text {
    margin-left: auto;
    width: 443px;
    padding-right: 60px;
    line-height: 140%;
    font-weight: 400;
    font-size: 18px;
    @media screen and (max-width: 1920px) {
      font-size: 0.9375vw;
      width: 50%;
      padding-right: 3.125vw;
    }
  }
  &__link {
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    transition: 0.3s;
    cursor: pointer;
    margin-top: auto;
    display: flex;
    align-items: center;
    @media screen and (max-width: 1920px) {
      font-size: 0.8854166666666666vw;
      line-height: 1.09375vw;
    }
    span {
      opacity: 0.8;
    }
    svg {
      width: 21px;
      height: 21px;
      margin-left: 15px;
      transform: rotate(-45deg);

      @media screen and (max-width: 1920px) {
        margin-left: 0.78125vw;
        width: 1.09375vw;
        height: 1.09375vw;
      }
      @media screen and (max-width: 425px) {
        width: 11px;
        height: 11px;
      }

      path {
        transition: 0.3s;
        fill: var(--tomato);
        stroke: var(--tomato);
      }
    }
    &:hover {
      span {
        opacity: 1;
      }
      svg {
        path {
          fill: var(--dark);
          stroke: var(--dark);
        }
      }
    }
  }
}
