.label {
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  position: relative;
  margin-left: 15px;
}

.checkbox-icon {
  background: transparent;
  border: 1px solid #74c6c9;
  display: block;
  height: 28px;
  width: 28px;
  flex: none;
  left: 0;
  position: relative;
  top: 0;
  //   transition: all 0.2s;
  &:after {
    border-color: transparent;
    border-style: solid;
    border-width: 0 2px 2px 0;
    content: '';
    height: 17px;
    left: 1px;
    right: 0;
    margin: 0 auto;
    position: absolute;
    top: -1px;
    transform: rotate(45deg);
    width: 9px;
  }
}

.input {
  cursor: pointer;
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
  &:disabled ~ .checkbox-icon {
    border-color: rgba(125, 135, 144, 0.5);
  }
  &:checked ~ .checkbox-icon:after {
    border-color: #fff;
  }
  &:checked ~ .checkbox-icon {
    background: #74c6c9;
    border-width: 2px;
  }
}

.label-container {
  align-items: center;
  cursor: pointer;
  display: flex;
  position: relative;
}
