.filters {
  width: 1060px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(10, 69, 103, 0.2);
  padding: 40px 40px 32px;
  margin: 65px auto 0;
  @media screen and (max-width: 1920px) {
    width: 55.208333333333336vw;
    padding: 2.0833333333333335vw 2.0833333333333335vw 1.6666666666666667vw;
    margin: 3.3854166666666665vw auto 0;
  }
  // @media screen and (max-width: 1250px) {
  //   width: 100%;
  // }
  // @media screen and (max-width: 650px) {
  //   margin-top: 20px;
  //   padding: 45px 30px;
  // }
  &__head {
    margin-bottom: 28px;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    justify-content: space-between;
    @media screen and (max-width: 1920px) {
      margin-bottom: 1.4583333333333333vw;
    }
    // @media screen and (max-width: 1024px) {
    //   display: grid;
    //   grid-template-columns: 50% 50%;
    //   gap: 20px;

    //   button span {
    //     font-size: 13px;
    //   }
    // }
    // @media screen and (max-width: 650px) {
    //   grid-template-columns: 100%;
    // }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 1920px) {
      label p {
        font-size: 0.9375vw;
        margin-right: 2.0833333333333335vw;
        margin-left: 0.5208333333333334vw;
        line-height: 2;
      }
    }
    // @media screen and (max-width: 1250px) {
    //   label p {
    //     font-size: 15px;
    //     @media screen and (max-width: 1024px) {
    //       font-size: 13px;
    //     }
    //   }
    //   @media screen and (max-width: 650px) {
    //     flex-direction: column;
    //     align-items: flex-start;
    //     label {
    //       margin-bottom: 20px;
    //       p {
    //         font-size: 14px;
    //         font-weight: 500;
    //         margin-left: 12px;
    //       }
    //     }
    //   }
    // }
  }
  &__mapLink {
    color: var(--teal);
    margin-right: 25px;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    opacity: 0.8;
    transition: 0.3s;
    @media screen and (max-width: 1920px) {
      font-size: 0.8854166666666666vw;
      line-height: 1.09375vw;
      margin-right: 1.3020833333333333vw;
    }
    svg {
      display: none;
    }
    &:hover {
      opacity: 1;
    }
    // @media screen and (max-width: 1024px) {
    //   margin-right: 0;
    // }
    // @media screen and (max-width: 650px) {
    //   font-weight: 500;
    //   font-size: 14px;
    //   line-height: 17px;
    //   display: flex;
    //   align-items: center;
    //   svg {
    //     display: inline-block;
    //     margin-right: 8px;
    //   }
    // }
  }
}
.mr40 {
  margin-right: 40px;
  @media screen and (max-width: 1920px) {
    margin-right: 2.0833333333333335vw;
  }
}
.search {
  border: 1px solid #74c6c9;
  position: relative;
  margin-right: 40px;
  flex: 1;
  height: auto;
  @media screen and (max-width: 1920px) {
    margin-right: 2.0833333333333335vw;
  }

  &__field {
    border: none;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    padding: 9px 51px 9px 20px;
    &:focus {
      outline: none;
    }
    @media screen and (max-width: 1920px) {
      font-size: 0.9375vw;
      padding: 0.46875vw 2.65625vw 0.46875vw 1.0416666666666667vw;
    }
  }
  &__icon {
    position: absolute;
    right: 12px;
    top: calc(50% - 10px);
    width: 20px;
    height: auto;
    @media screen and (max-width: 1920px) {
      right: 0.625vw;
      top: calc(50% - 0.5208333333333334vw);
      width: 1.0416666666666667vw;
    }
  }
  &-list {
    background: #ffffff;
    padding: 13px 0;
    position: absolute;
    top: calc(100% + 1px);
    width: 100%;
    box-shadow: 0px 4px 20px 1px rgba(70, 119, 182, 0.2);
    z-index: 99;
    @media screen and (max-width: 1920px) {
      font-size: 0.8333333333333334vw;
      padding: 0.6770833333333334vw 0;
    }
    &__item {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #7d8790;
      padding: 7px 20px;
      cursor: pointer;
      transition: 0.3s;
      @media screen and (max-width: 1920px) {
        font-size: 0.8333333333333334vw;
        padding: 0.3645833333333333vw 1.0416666666666667vw;
      }
      &:hover {
        background: #f0f4f8;
      }
    }
  }
}

.select {
  flex: 1;
}

.arrow {
  width: auto;
  display: flex;
  align-items: center;
  margin-right: 3px;
  transition: 0.3s;
  transform: translateY(-50%) rotate(0);
  margin-left: auto;
  position: absolute;
  right: 20px;
  top: 50%;
  transform-origin: center;
  @media screen and (max-width: 1920px) {
    margin-right: 0.15625vw;
    right: 1.0416666666666667vw;
    width: 1.3541666666666667vw;
    height: 1.3541666666666667vw;
  }
  svg {
    height: auto;
    width: inherit;
    // @media screen and (max-width: 1024px) {
    //   width: 15px;
    //   height: 15px;
    // }
  }
  &.active {
    transform: translateY(-50%) rotate(-180deg);
  }
}

.selectContainer {
  border: 1px solid #74c6c9;
  position: relative;
  width: 100%;
  cursor: pointer;
  // @media screen and (max-width: 1024px) {
  //   height: 60px;
  //   @media screen and (max-width: 650px) {
  //     height: 50px;
  //   }
  // }
}

.selectList {
  background: #ffffff;
  box-shadow: 0px 4px 20px 1px rgba(70, 119, 182, 0.2);
  position: absolute;
  top: calc(100% + 2px);
  width: 100%;
  padding-top: 30px;
  padding-left: 10px;
  z-index: 99;
  @media screen and (max-width: 1920px) {
    padding-top: 1.5625vw;
    padding-left: 0.5208333333333334vw;
  }
}
.pc_btn {
  display: block;
  @media screen and (max-width: 1920px) {
    button {
      display: flex;
      line-height: 1;
      padding: 0.9895833333333334vw 2.0833333333333335vw;
      span {
        font-size: 0.9375vw;
        line-height: 1;
      }
    }
  }
  // @media screen and (max-width: 425px) {
  //   display: contents;
  //   width: 100%;
  //   align-items: center;
  //   justify-content: center;
  //   button {
  //     width: 100%;
  //     margin-top: 20px;
  //     span {
  //       font-size: 13px;
  //     }
  //   }
  // }
}
.mobile_btn {
  display: none;
  // @media screen and (max-width: 1024px) {
  //   display: contents;
  // }
  // @media screen and (max-width: 425px) {
  //   display: none;
  // }
}
.selectValue {
  padding: 10px 64px 10px 20px;
  height: inherit;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  @media screen and (max-width: 1920px) {
    font-size: 0.9375vw;
    padding: 0.5208333333333334vw 3.3333333333333335vw 0.5208333333333334vw 1.0416666666666667vw;
  }
  // @media screen and (max-width: 768px) {
  //   font-size: 14px;
  // }
  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    text-transform: lowercase;
  }
}

.rooms {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  @media screen and (max-width: 1920px) {
    margin-bottom: 0.5208333333333334vw;
  }
}

.room {
  &-container {
    align-items: center;
    cursor: pointer;
    display: flex;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
    @media screen and (max-width: 1920px) {
      margin-right: 0.5208333333333334vw;
      margin-bottom: 0.5208333333333334vw;
    }
    &:last-child {
      margin-right: 0;
      margin-bottom: 0;
    }
  }
  &__item {
    background: #ffffff;
    border: 1px solid var(--tealLight);
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    width: 39px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1920px) {
      font-size: 0.9375vw;
      width: 2.03125vw;
      height: 2.03125vw;
    }
  }
  &__field {
    cursor: pointer;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
    &:checked ~ .room__item {
      background: var(--tealLight);
      color: #fff;
    }
  }
}

.checkbox {
  &__item {
    margin-bottom: 10px;
    user-select: none;
  }
}

.bankList {
  border: 1px solid var(--tealLight);
  padding: 0px 0px 0px 20px;
  margin-right: 6.5px;
  margin-bottom: 20px;
  @media screen and (max-width: 1920px) {
    padding: 0px 0px 0px 1.0416666666666667vw;
    margin-bottom: 1.0416666666666667vw;
  }
  &__item {
    margin-bottom: 10px;
    @media screen and (max-width: 1920px) {
      margin-bottom: 0.5208333333333334vw;
    }
    &:first-child {
      margin-top: 10px;
      @media screen and (max-width: 1920px) {
        margin-top: 0.5208333333333334vw;
      }
    }
    &:last-child {
      margin-bottom: 10px;
      @media screen and (max-width: 1920px) {
        margin-bottom: 0.5208333333333334vw;
      }
    }
  }
}

.radioList {
  margin-bottom: 10px;
  &__item {
    margin-bottom: 10px;
  }
}
