.filters {
  width: 1060px;
  height: 205px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(10, 69, 103, 0.2);
  padding: 40px 40px 32px;
  margin: 65px auto 0;
  @media screen and (max-width: 1250px) {
    width: 100%;
  }
  @media screen and (max-width: 1024px) {
    height: auto;
  }
  @media screen and (max-width: 450px) {
    margin-top: 20px;
    padding: 45px 30px;
  }
  &__head {
    margin-bottom: 28px;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1024px) {
      display: grid;
      grid-template-columns: 50% 50%;
      gap: 20px;

      button span {
        font-size: 13px;
      }
    }
    @media screen and (max-width: 450px) {
      grid-template-columns: 100%;
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 1250px) {
      label p {
        font-size: 15px;
        @media screen and (max-width: 1024px) {
          font-size: 13px;
        }
      }
      @media screen and (max-width: 450px) {
        flex-direction: column;
        align-items: flex-start;
        label {
          margin-bottom: 20px;
          p {
            font-size: 14px;
            font-weight: 500;
            margin-left: 12px;
          }
        }
      }
    }
  }
  &__mapLink {
    color: var(--teal);
    margin-right: 25px;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    opacity: 0.8;
    transition: 0.3s;
    svg {
      display: none;
    }
    &:hover {
      opacity: 1;
    }
    @media screen and (max-width: 1024px) {
      margin-right: 0;
    }
    @media screen and (max-width: 450px) {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      display: flex;
      align-items: center;
      svg {
        display: inline-block;
        margin-right: 8px;
      }
    }
  }
}

.search {
  border: 1px solid #74c6c9;
  position: relative;
  margin-right: 40px;
  flex: 1;
  height: 45px;
  max-width: 300px;
  @media screen and (max-width: 1024px) {
    margin-right: 0px;
    align-items: center;
    display: flex;
    height: 60px;
    @media screen and (max-width: 450px) {
      height: 50px;
    }
  }

  &__field {
    border: none;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    padding: 9px 51px 9px 20px;
    &:focus {
      outline: none;
    }
    @media screen and (max-width: 1024px) {
      font-size: 14px;
    }
  }
  &__icon {
    position: absolute;
    right: 12px;
    top: calc(50% - 10px);
    width: 20px;
    height: auto;
  }
  &-list {
    background: #ffffff;
    padding: 13px 0;
    position: absolute;
    top: calc(100% + 1px);
    width: 100%;
    box-shadow: 0px 4px 20px 1px rgba(70, 119, 182, 0.2);
    z-index: 99;
    &__item {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #7d8790;
      padding: 7px 20px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background: #f0f4f8;
      }
    }
  }
}

.select {
  max-width: 300px;
  flex: 1;
  @media screen and (max-width: 1024px) {
    margin-right: 0px;
  }
}

.arrow {
  width: auto;
  display: flex;
  align-items: center;
  margin-right: 3px;
  transition: 0.3s;
  transform: rotate(0);
  margin-left: auto;
  margin-top: -7px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform-origin: center;
  svg {
    height: auto;
    width: inherit;
    @media screen and (max-width: 1024px) {
      width: 15px;
      height: 15px;
    }
  }
  &.active {
    transform: rotate(-180deg);
  }
}

.selectContainer {
  border: 1px solid #74c6c9;
  position: relative;
  height: 45px;
  width: 100%;
  cursor: pointer;
  @media screen and (max-width: 1024px) {
    height: 60px;
    @media screen and (max-width: 450px) {
      height: 50px;
    }
  }
}

.selectList {
  background: #ffffff;
  box-shadow: 0px 4px 20px 1px rgba(70, 119, 182, 0.2);
  position: absolute;
  top: calc(100% + 1px);
  width: 100%;
  padding-top: 30px;
  padding-left: 10px;
  z-index: 99;
  @media screen and (max-width: 1024px) {
    padding-top: 20px;
    span {
      font-size: 13px;
    }
  }
}
.pc_btn {
  display: block;
  @media screen and (max-width: 1024px) {
    display: none;
  }
  @media screen and (max-width: 425px) {
    display: contents;
    width: 100%;
    align-items: center;
    justify-content: center;
    button {
      width: 100%;
      margin-top: 20px;
      span {
        font-size: 13px;
      }
    }
  }
}
.mobile_btn {
  display: none;
  @media screen and (max-width: 1024px) {
    display: contents;
  }
  @media screen and (max-width: 425px) {
    display: none;
  }
}
.selectValue {
  padding: 10px 64px 10px 20px;
  height: inherit;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  @media screen and (max-width: 1024px) {
    font-size: 14px;
    display: flex;
  }
  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    text-transform: lowercase;
  }
}

.rooms {
  display: flex;
  margin-bottom: 20px;
}

.room {
  &-container {
    align-items: center;
    cursor: pointer;
    display: flex;
    position: relative;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__item {
    background: #ffffff;
    border: 1px solid var(--tealLight);
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    width: 39px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 1024px) {
      width: 25px;
      height: 25px;
    }
  }
  &__field {
    cursor: pointer;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;
    &:checked ~ .room__item {
      background: var(--tealLight);
      color: #fff;
    }
  }
}

.checkbox {
  &__item {
    margin-bottom: 10px;
    user-select: none;
  }
}

.bankList {
  border: 1px solid var(--tealLight);
  padding: 0px 0px 0px 20px;
  margin-right: 6.5px;
  margin-bottom: 20px;
  &__item {
    margin-bottom: 10px;
    &:first-child {
      margin-top: 10px;
    }
    &:last-child {
      margin-bottom: 10px;
    }
  }
}

.radioList {
  margin-bottom: 10px;
  &__item {
    margin-bottom: 10px;
  }
}
